* {
  margin: 0;
  padding: 0;
  font-family: "Poppins", sans-serif;
  box-sizing: border-box;
}

body {
  background-image: url("/assets/1200x630.jpg");
  background-repeat: no-repeat;
  background-size: cover;
}

.container {
  width: 90%;
  max-width: 500px;
  margin: 100px auto 0;
  border-radius: 10px;
  padding: 30px;
  background: rgba(5, 5, 29, 0.6);
  border: 2px solid rgba(19, 72, 132, 0.2);
  backdrop-filter: blur(20px);
}

.container h1 {
  font-size: 25px;
  color: #f0f0f0;
  font-weight: 600;
  padding-bottom: 30px;
}

/* questionarios */
.questionario {
  padding: 20px 0;
}

.questionario h2 {
  font-size: 18px;
  color: #f0f0f0;
  font-weight: 600;
}

/* botoes */
.botao {
  background: #f0f0f0;
  color: #333;
  font-weight: 500;
  width: 100%;
  border: 1px solid #333;
  padding: 10px;
  margin: 10px 0;
  text-align: left;
  border-radius: 15px;
  cursor: pointer;
  transition: all 0.3s;
}

#proximo-botao {
    background: #6b6675;
    color: #f0f0f0;
    font-weight: 500;
    width: 150px;
    border: 0;
    padding: 10px;
    margin: 20px auto 0;
    border-radius: 4px;
    cursor: pointer;
    display: none;
}

.acertou {
    border: 3px solid #02c456;
}

.errou {
    border: 3px solid #aa0202;
}